<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Jura&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="skeleton.css">
    <link rel="stylesheet" href="normalize.css">
    <link rel="stylesheet" href="custom.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <title>Ravintolaskuri</title>
</head>
<body>

<div class="container">

    <section class="header">
            <img class="value-img" src="img/logo.png" alt="ravintolaskuri" width="30">
            <h4 class="blue-text">KOIRAN RAVINTOLASKURI</h4>
            <p class="grey-text">50-50-MALLI</p>
    </section>
