<nav class="navbar mb3">
    <div class="container">
      <ul class="navbar-list">
        <li class="navbar-item"><a class="navbar-link" href="/">laskuri</a></li>
        <li class="navbar-item"><a class="navbar-link" href="/kirjaudu">kirjaudu sisään</a></li>
        <li class="navbar-item"><a class="navbar-link" href="/rekisteroidy">rekisteröidy</a></li>
      </ul>
    </div>
  </nav>