<nav class="navbar mb3">
    <div class="container">
      <ul class="navbar-list">
        <li class="navbar-item"><a class="navbar-link" href="/">laskuri</a></li>
        <li class="navbar-item"><a class="navbar-link" href="/omatkoirat">omat koirat</a></li>
        <li class="navbar-item"><a class="navbar-link" href="/logout">kirjaudu ulos</a></li>
      </ul>
    </div>
  </nav>